.profileusername{
    text-align: center;
}
.profileemail{
    text-align: center;
}
.profileid{
    text-align: center;
    margin-left: auto;
    
}

.picture {
    display:block;
    justify-content: right;
    align-self: right;
    height:250px;
    width:250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    padding:10px;
    border-radius: 30px;
}

.bigboy {
    display:flex;
    justify-content: space-between;
}