.profileusername{
    padding: 10px;
    font-size: 28px;
}
.profileemail{
    padding: 10px;
    font-size: 28px;
}
.profileid{
    padding: 10px;
    font-size: 28px;
}

.picture {
    display:flex;
    justify-content: right;
    align-self: right;
    height:250px;
    width:250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    padding:10px;
    padding-left: 0px;
    border-radius: 30px;
}

.bigboy {
    display:flex;
    justify-content: start;
}

.skill{
    
}