.textstuff {
    resize:none;
    width: 50%;
}
input[type=text]{
    width:30%;
}
.title{
    font-size: 32;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rating{
    margin-left: auto;
}